.main, row {
    margin-top: 15px;
    background: transparent;
    padding: 15px;
    color: white;
    justify-content: space-around;
}

.navbar-brand {
    color:white;
    background: transparent;
}
.nav-item a {
    color:white;
    background: transparent;
}

.dropdown .dropdown-item {
    color: black;
}
body { color:white;
    font-family: 'Baloo Tamma', cursive;
    background: #131313;
    width:100%;
}

.pic {
    max-height: 295px;
    max-width: 395px;
    padding: 5px;
    border-radius: 50%;
}
.card {
    background-color: orange;
    margin: 30px;
}

.li {
    font-size: 18px;
    margin-top: 25px;
}