.main, row {
    margin-top: 15px;
    background: transparent;
    padding: 15px;
    color: white;
    justify-content: space-around;
}

.navbar-brand {
    color:white;
    background: transparent;
}
.nav-item a {
    color:white;
    background: transparent;
}

.dropdown .dropdown-item {
    color: black;
}
body { color:white;
    font-family: 'Baloo Tamma', cursive;
    background: #131313;
    width:100%;
}

.pic {
    height: 225px;
    width: 300px;
    padding: 45px;
    border-radius: 50%;
}

.pic1 {
    height: 270px;
    width: 325px;
    padding: 30px;
    border-radius: 50%;
}

.card {
    background-color: orange;
    margin: 30px;
}

.li {
    font-size: 18px;
    margin-top: 25px;
}

.footer {
    margin: auto auto auto auto;
    background-color: rgb(12, 12, 12);
    position: fixed;
    bottom: 0;
    padding: 1px;
    width: 100%;
    text-align: center;
    color:white;
}



/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {     
 }

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {  

 }

/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) { 

 }

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) { 

 }
